.testimonials {
  background-color: #ddd;
  position: relative;
  /* padding-top: 80px; */
  max-width: 100vw;
    /* padding-top: 80px; */
    max-height: 100vh;
}
.testimonials:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 57vh;
  background-color: #EAB429;
}

.testimonials h1 {
  padding-top: 5%;
  color: #333333;
  padding-left: 2%;
}

#customers-testimonials .item-details {
  background-color: #333333;
  color: #fff;
  padding: 16px 10px 5px;
  text-align: left;
  /* height: 27vh; */
}
#customers-testimonials .item-details h5 {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
}
#customers-testimonials .item-details h5 span {
  color: #EAB429;
  font-size: small;
}
#customers-testimonials .item-details p {
  font-size: 91%;
  height: 52%;
  text-align: justify;
}
#customers-testimonials .item {
  text-align: center;
  margin-bottom: 80px;
}

.owl-carousel .owl-nav [class*=owl-] {
  transition: all 0.3s ease;
}

.owl-carousel .owl-nav [class*=owl-].disabled:hover {
  background-color: #D6D6D6;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  font-size: 20px;
  color: #fff;
  border: 1px solid #ddd;
  text-align: center;
  background: #333333 !important;
}

.owl-carousel .owl-prev {
  left: -70px;
}

.owl-carousel .owl-next {
  right: -70px;
}

.img-responsive {
  height: 33vh;
}
.div-btn-link {
  display: flex;
  justify-content: flex-end;
}

.btn-carousel{
  padding: 0.1rem .75rem;
  font-size: 0.7rem;
}

.btn-github{
  border: 2px solid rgba(234, 180, 41, 0.67);
}   

.btn-github:hover{
  border: 2px solid #EAB429;

}
.btn-demo{
  margin-left: 14px;
  border: 2px solid rgba(255, 254, 278, 0.4)
}

.btn-demo:hover{
  border: 2px solid #f5f5f1;
}

.btn-primary {
  background: transparent !important;
  transition: border 0.125s ease, background 0.125s ease;
  border-radius: 10px;
}


@media screen and (min-width: 769px) and (max-width: 1199px){
  #customers-testimonials .item-details {
    height: 31vh;
  }

  .img-responsive {
    height: 24vh;
  }

  img {
    max-width: 100%;
}

.testimonials:after {
  height: 33vh;
}

#customers-testimonials .item-details p {
  height: 11vh;

}

.div-btn-link {
  margin-top: 5% !important;
}
}